In [2]:
list = [1, 2, 3]

In [3]:
list

[1, 2, 3]

In [4]:
tuplelist = tuple(list)

In [5]:
tuplelist

(1, 2, 3)

In [6]:
tuplelist[1]

2

In [8]:
tup = tuple(['foo', [1, 2], True])

In [10]:
tup[1].append(3)
tup

('foo', [1, 2, 3, 3], True)

In [11]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [12]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [13]:
tup = (4, 5, 6)

In [14]:
a, b, c = tup

In [15]:
b

5

In [16]:
tup = 4, 5, (6, 7)

In [17]:
a, b, (c, d) = tup
d

7

In [18]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [20]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [21]:
values = 1, 2, 3, 4, 5

In [23]:
a, b, *rest = values
print(a, b)
print(rest)

1 2
[3, 4, 5]

In [24]:
c, d, *testnames = values

In [25]:
c, d

(1, 2)

In [26]:
testnames

[3, 4, 5]

In [28]:
help(testnames.sort)

Help on built-in function sort:

sort(...) method of builtins.list instance
    L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*

In [29]:
import bisect

In [30]:
c = [1, 2, 2, 2, 3, 4, 7]

In [31]:
bisect.bisect(c, 2)

4

In [32]:
c

[1, 2, 2, 2, 3, 4, 7]

In [34]:
c.insert(4, 2)

In [35]:
c

[1, 2, 2, 2, 2, 3, 4, 7]

In [36]:
bisect.bisect(c, 5)

7

In [41]:
bisect.bisect(c, 5)

8

In [42]:
c

[1, 2, 2, 2, 2, 3, 4, 5, 7]

In [43]:
bisect.insort(c, 6)

In [44]:
c

[1, 2, 2, 2, 2, 3, 4, 5, 6, 7]

In [47]:
# enumerate creates an index number for each value
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i

In [48]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [66]:
seq1 = ['foo', 'bar', 'baz']

In [67]:
seq2 = ['one', 'two', 'three']

In [68]:
zipped = zip(seq1, seq2)

In [69]:
list(zipped)

In [70]:
zipped

In [71]:
seq3 = [False, True]

In [72]:
list(zip(seq1, seq2, seq3))

TypeError: 'list' object is not callable

In [73]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [74]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [75]:
first_names, last_names = zip(*pitchers)

In [76]:
first_names

('Nolan', 'Roger', 'Schilling')

In [77]:
last_names

('Ryan', 'Clemens', 'Curt')

In [78]:
d1 = {'a': 'some value', 7: 'an integer', 'c': 12}

In [79]:
d1

{'a': 'some value', 7: 'an integer', 'c': 12}

In [80]:
d1.update({'b': 'foo', 'c': 12})

In [81]:
d1

{'a': 'some value', 7: 'an integer', 'c': 12, 'b': 'foo'}

In [84]:
d1.update({'b': 'test'}) # update discards the old values

In [85]:
d1

{'a': 'some value', 7: 'an integer', 'c': 12, 'b': 'test'}

In [86]:
d1.keys()

dict_keys(['a', 7, 'c', 'b'])

In [87]:
d1.values()

dict_values(['some value', 'an integer', 12, 'test'])

In [90]:
help(d1.setdefault)

Help on built-in function setdefault:

setdefault(...) method of builtins.dict instance
    D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D

In [92]:
a = {1, 2, 3, 4, 5}

In [93]:
b = {3, 4, 5, 6, 7, 8}

In [94]:
a ^ b

{1, 2, 6, 7, 8}

In [95]:
a - b

{1, 2}

In [96]:
b - a

{6, 7, 8}

In [97]:
b |= a

In [98]:
b

{1, 2, 3, 4, 5, 6, 7, 8}

In [106]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [107]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [108]:
strings_new = [x.upper() for x in strings if len(x) > 2]

In [109]:
strings_new

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [110]:
strings

['a', 'as', 'bat', 'car', 'dove', 'python']

In [111]:
unique_lengths = {len(x) for x in strings}

In [112]:
unique_lengths

{1, 2, 3, 4, 6}

In [113]:
loc_mapping = {val : index for index, val in enumerate(strings)}

In [114]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [115]:
loc_mapping_test = {index : key for index, key in enumerate(strings)}

In [116]:
loc_mapping_test

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [1]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [18]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if len(name) >= 0]
    names_of_interest.extend(enough_es)

In [19]:
print(names_of_interest)

['John', 'Emily', 'Michael', 'Mary', 'Steven', 'Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']

In [20]:
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [21]:
result

['Steven']

In [1]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [2]:
flattened = [x for tup in some_tuples for x in tup]

In [4]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
flattened_loop = []
for tup in some_tuples:
    for x in tup:
        flattened_loop.append(x)

In [6]:
flattened_loop

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
b = []
def func(x):
    a = []
    for i in range(x+1):
        a.append(i)
    b = a
    return b

In [23]:
func(5)

[0, 1, 2, 3, 4, 5]

In [34]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [32]:
a = func()

In [35]:
a

[]

In [36]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [37]:
a, b, c = f()

In [38]:
a

5

In [39]:
b, c, a = f()

In [40]:
b

5

In [50]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

In [45]:
a, b, c = f()

In [51]:
a

'a'